html, body{
  height: 100%;
}
body{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.42;
  background: #29292c ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
a{
  color: inherit;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
h1, h2, h3, h4{
  margin: 0;
  font-weight: normal;
}
p{
  margin-top: 0;
}
*{
  box-sizing: border-box;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  display: block;
  max-width: 100%;
}
.container{
  margin: 0 auto;
  width: 1140px;
}
  