.about-section{
  margin-bottom: -5px;
}
.about{
  display: flex;
}
.about:before{
  display: block;
  content: "";
  width: 488px;
  height: 502px;
  background: url('../../img/chess.jpg') center center / cover no-repeat;
  margin-top: 17px;
}
.about__desc{
  background: #202123;
  padding: 67px 82px;
  max-width: 780px;
  margin-left: -137px;
  margin-top: 114px;
}
.about__title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}
.about__desc-text{
  margin-bottom: 71px;
}
.about__desc-text p{
  margin-bottom: 20px;
}
.about__desc-text:last-child{
  margin-bottom: 0;
}