.btn{
  display: inline-block;
  background: #dfb56d; 
  border-radius: 4px;
  padding: 17px 38px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  }
  .btn_color_ginger{
    background: #dfb56d; 
  }
  .btn_color_ginger:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15) ;
  }
  .btn_color_black{
    background: #202123;
  }
  .btn_color_black:hover{
    background: #dfb56d;
  }
  .btn_size_l{
    width: 100%;
  }