.hello{
  background:
  url('../../img/flare.png') top 75% left 65% no-repeat,
  url('../../img/splash.jpg') center center no-repeat;
  background-size: auto 500px, cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.hello__content{
  margin: 228px auto;
  animation: bounce;
  animation-duration: 2s;
} 
.hello__img{
  margin-bottom: 60px;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    0%{
      opacity: 0;
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
    100%{
      opacity: 1;
    }
  }
