.offers{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offers__item{
  width: calc(100% / 3 - 18px);
}
.offer{
  max-height: 451px;
  background: #ffffff;
  border-radius: 4px;
  color: #010001;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.offer__item:last-child{
  margin-right: 0;
}
.offer__item_theme_grey .offer__header:before{
background:#a5a5a4;
}
.offer__item_theme_blue .offer__header:before{
background:#556180;
}
.offer__item_theme_gold .offer__header:before{
background:#978455;
}
.offer__header{
  min-height: 162px;
  position: relative;
}
.offer__header:before{
  content: '';
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -158px;
  right: -104px;
  background: #cccccc;
}
.offer__header-img{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -44px;
  margin-top: -39px;
}
.offer__content{
  padding: 36px 24px;
  padding-top: 27px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.offer__title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 7px;
  margin-top: -5px;
  margin-left: -2px;
}
.offer__prices{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}
.offer__prices-cell{
  margin-right: 0;
}
.offer__price-cell_col_right{
  margin-right: -83px;
}
.offer__price{
  font-size: 36px;
  margin: 4px -4px;
}
.offer__price-range{
  font-size: 36px;
}
.offer__price-desc{
  color: #666666;
  font-weight: normal;
  font-size: 16px;
}

.offer__btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: auto;
}