.socials{
  margin-right: 73px;
  display: flex
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 36px;
  height: 36px;
  background:url('../../img/socials_sprites.png') center center no-repeat;
  opacity: 1;
}
.socials__item:hover{
  opacity: .5;
  cursor: pointer;
}
.socials__item:last-child{
  margin-right: 0;
}
.socials__link{
  display: block;
  text-decoration: none;
  
}
.socials__item_icon_tg{
  background-position:-66px -66px;
}
.socials__item_icon_vk{
  background-position:-10px -66px;
}
.socials__item_icon_fb{
  background-position:-10px -10px;
}
.socials__item_icon_ig{
  background-position:-66px -10px;
}
