.socials{
  position: absolute;
  top: 53px;
  right: 300px;
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__item:last-child{
  margin-right: 0;
}
.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item_icon_tg .socials__link{
  background-image: url(img/tg.png);
}
.socials__item_icon_tg .socials__link:hover{
  background: url(img/tgh.png);
}
.socials__item_icon_vk .socials__link{
  background-image: url(img/vk.png);
}
.socials__item_icon_vk .socials__link:hover{
  background: url(img/vkh.png);
}
.socials__item_icon_fb .socials__link{
  background-image: url(img/fb.png);
}
.socials__item_icon_fb .socials__link:hover{
  background: url(img/fbh.png);
}
.socials__item_icon_ig .socials__link{
  background-image: url(img/ig.png);
}
.socials__item_icon_ig .socials__link:hover{
  background: url(img/igh.png);
}